<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>Authorize</title>
  </head>
  <body>
    <button type=button>Click to authorize</button>
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <script>
      var t = window.TrelloPowerUp.iframe({
        appKey: '6f2af19073479657e48933387208eecd',
        appName: 'Test'
      });
      t.render(function() {
        document.querySelector('button').addEventListener('click', function() {
          t.getRestApi()
            .authorize({ scope: 'read,write,account' })
            .then(function(t) {
              alert('Success!');
            });
        }, false);
      });
    </script>
  </body>
</html>