<!DOCTYPE html>
<html>
 
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <script src="https://trello.com/1/client.js?key=2905a45608f989a24bf26e3d92edcf80"></script>
    <script type="module" src="../js/edit-link.js"></script>
</head>
 
<body>
    <div class="container" style="margin:0px">
        <div id="loadingDiv">
            <h2>Loading</h2>
        </div>
        <form class="row g-3 mb-12 align-items-start" id="mainDiv"  style="display: none">
            <div class="col-md-12">
                <label for="listSelectorDropdown" class="form-label">Target Type</label>
                <select class="form-control" id="targetSelectorDropdown"  placeholder="Target type">
                    <option>Board</option>
                    <option>List</option>
                </select>
                <label for="boardSelectorDropdown" class="form-label">Select Board</label>
                <select class="form-control" id="boardSelectorDropdown"  placeholder="Select Board" required>
                </select>
                <div id="listSelectDiv" style="display: none">
                    <label for="listSelectorDropdown" class="form-label">Select List</label>
                    <select class="form-control" id="listSelectorDropdown"  placeholder="Select Board">
                    </select>
                </div>
                <label for="listSelectorDropdown" class="form-label">Condition type</label>
                <select class="form-control" id="conditionSelectorDropdown"  placeholder="Condition type">
                    <option>None</option>
                    <option>Member</option>
                    <option>Label</option>
                </select>
                <div id="memberConditionSelectDiv" style="display: none">
                    <label for="memberConditionSelectorDropdown" class="form-label">Select Member</label>
                    <select class="form-control" id="memberConditionSelectorDropdown"  placeholder="Select Member">
                    </select>
                </div>
                <div id="labelConditionSelectDiv" style="display: none">
                    <label for="labelConditionSelectorDropdown" class="form-label">Select Label</label>
                    <select class="form-control" id="labelConditionSelectorDropdown"  placeholder="Select Label">
                    </select>
                </div>
                <div id="targetListSelectDiv">
                    <label for="targetListSelectorDropdown" class="form-label">Select Target List</label>
                    <select class="form-control" id="targetListSelectorDropdown"  placeholder="Select Label">
                    </select>
                </div>
            </div>
        </form>
    </div>
</body>
 
</html>